table {
  th, td {
    vertical-align: middle !important;
    &.actions {
      width: 200px;
      text-align: right;
    }
    &.date {
      width: 200px;
      text-align: center;
    }
  }
}

#ajax-loading {
  display: none;
  .wrap {
    opacity:0.6;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    height: 100%;
    width: 100%;
    z-index: 3;
  }
  .content {
    width: 180px;
    position: fixed;
    margin-left: -90px;
    left: 50%;
    top: 200px;
    z-index: 4;
    text-align: center;
    padding: 22px 0px;
    background-color: #d9edf7;
    border-color: #c2e4eA;
    color: #31708f;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}
