#carousel-home-page {
  top: -21px;
  .carousel-inner {
    img {
      width: 100%;
    }
  }
  .carousel-control {
    font-size: 50px;
    i.fa {
      margin-top: 190px;
    }
  }
}

#navigation {
  border-radius:0px;
  z-index:1;
}

#logo {
  height: 40px;
  margin: 5px 0px;
}
