table td,table th{vertical-align:middle!important}table td.actions,table th.actions{width:200px;text-align:right}table td.date,table th.date{width:200px;text-align:center}#ajax-loading{display:none}#ajax-loading .wrap{opacity:.6;position:fixed;left:0;top:0;background:#fff;height:100%;width:100%;z-index:3}#ajax-loading .content{width:180px;position:fixed;margin-left:-90px;left:50%;top:200px;z-index:4;text-align:center;padding:22px 0;background-color:#d9edf7;border-color:#c2e4eA;color:#31708f;border-radius:4px}
/*# sourceMappingURL=admin.css.map */